.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Docker
.dockerignore

# Databas (Eftersom du vill ha din chroma_db lokalt/i volym)
chroma_db/

# Frontend (Node)
node_modules/
dist/
.eslintcache